@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --green: #0D642F;
    --black: #070707;
    --gray: #8B8B8B;
}

*, html, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #0F0F0F;
}

.main-content {
    margin: 0.2vw 12.5vw 0vw 12.5vw;
}

.tabs-wrapper {
    display: flex;
    width: max-content;
    background-color: var(--black);
    padding: 0.41vw;
    border-radius: 2.76vw;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: calc(100vw);
   
    position: absolute;
    left: 50%;
    top: 0.2vw;
    transform: translate(-50%, 0%);
    overflow-x: hidden;
}

.tabs-wrapper .item {
    display: flex;
    align-items: center;
    gap: 0.625vw;
    padding: 0.625vw 1.041vw 0.625vw 0.625vw;
    border-radius: 1.718vw;
    background-color: var(--black);
    white-space: nowrap;
}

.tabs-wrapper .item.active {
    background-color: var(--green);
}

.tabs-wrapper .item:not(.active):hover {
    cursor: pointer;
}

.tabs-wrapper .item img {
    height: 1.875vw;
    width: 1.875vw;
}

.tabs-wrapper .item .title {
    font-family: 'SF Pro Display', sans-serif;
    color: #FFFFFF;
    font-size: 1.041vw;
    font-weight: 400;
}

.tabs-wrapper .item .title span {
    font-weight: 700;
}

.calculate-wrapper {
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    gap: 1.25vw;
}

.calculate-wrapper.Europe,
.calculate-wrapper.Europe-OPT,
.calculate-wrapper.USA-OPT,
.calculate-wrapper.delivery-m,
.calculate-wrapper.delivery-l,
.calculate-wrapper.delivery-k,
.calculate-wrapper.OPEN-LANE,
.calculate-wrapper.USA-ELECTRO {
    display: none;
}

.calculate-wrapper .card-item {
    background-color: var(--black);
    padding: 3.125vw;
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.calculate-wrapper .card-item:has(.line-inputs) {
    display: flex;
    flex-direction: column;
    gap: 1.875vw;
}

.calculate-wrapper .card-item .line-inputs {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.25vw;
}

.calculate-wrapper .card-item .line-inputs .item {
    width: calc(50% - 0.625vw);
    display: flex;
    flex-direction: column;
    gap: 1.041vw;
    font-family: 'SF Pro Display', sans-serif;
}

.calculate-wrapper .card-item .line-inputs .item .title {
    font-size: 0.83vw;
    font-weight: 500;
    color: var(--gray);
}

.calculate-wrapper .card-item .line-inputs .item .intups-wrapper .currency {
    font-weight: 400;
    color: var(--green);
}

.calculate-wrapper .card-item .line-inputs .item .intups-wrapper input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    color: white;
    font-weight: 400;

    border-radius: 2.55vw;
    padding: 0.83vw 1.25vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.83vw;
}

.calculate-wrapper .card-item .line-inputs .item .select-wrapper {
    border-radius: 2.55vw;
    padding: 0.83vw 1.25vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.83vw;
    font-weight: 400;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease;
}

.calculate-wrapper .card-item .line-inputs .item .select-wrapper .variables {
    position: absolute;
    top: calc(100% + 0.729vw);
    left: -1px;
    width: 100%;
    right: 0;
    background-color: #0F0F0F;
    overflow-y: auto;
    max-height: 0px;
    transition: all 300ms ease;
    border: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.41vw;
}

.calculate-wrapper .card-item .line-inputs .item .select-wrapper .variables.active {
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-height: 400px;
}

.calculate-wrapper .card-item .line-inputs .item .select-wrapper .variables .item {
    width: auto;
    padding: 0.83vw 1.25vw;
    transition: all 300ms ease;
}

.calculate-wrapper .card-item .line-inputs .item .select-wrapper .variables .item:hover {
    background-color: #10281B;
}

.calculate-wrapper .card-item .line-inputs .item .select-wrapper .svg {
    width: 0.3125vw;
    height: 0.3125vw;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-135deg);
}

.calculate-wrapper .card-item .line-inputs .item .select-wrapper .variables {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.calculate-wrapper .card-item .line-inputs .item .switch {
    font-size: 0.88vw;
    position: relative;
    display: inline-block;
    width: 3.2vw;
    height: 1.9vw;
}

.calculate-wrapper .card-item .line-inputs .item .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.calculate-wrapper .card-item .line-inputs .item .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.calculate-wrapper .card-item .line-inputs .item .slider:before {
    position: absolute;
    content: "";
    height: 1.4vw;
    width: 1.4vw;
    left: 0.2vw;
    bottom: 0.2vw;
    background-color: var(--green);
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.calculate-wrapper .card-item .line-inputs .item .switch input:checked + .slider {
    box-shadow: 0 0 1px var(--green);
    border: 1px solid var(--green);
}

.calculate-wrapper .card-item .line-inputs .item .switch input:checked + .slider:before {
    transform: translateX(1.5em);
}

.calculate-wrapper .card-item.outputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculate-wrapper .card-item .line {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.calculate-wrapper .card-item .line .item {
    padding: 0.83vw;
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.041vw;
    font-family: 'SF Pro Display', sans-serif;
}

.calculate-wrapper .card-item .line .item.all-result {
    padding: 0.625vw 0.83vw;
    background-color: #0D642F;
    gap: 0.41vw;
    max-width: calc(50% - 1.66vw);
}

.calculate-wrapper .card-item .line .item.all-result .title {
    color: white;
    font-weight: 700;
}

.calculate-wrapper .card-item .line .item.all-result .all-price {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.041vw;
}

.calculate-wrapper .card-item .line .item.all-result .all-price .numeric {
    font-weight: 800;
}

.calculate-wrapper .card-item .line .item.all-result .all-price .currency {
    font-weight: 400;
}

.calculate-wrapper .card-item .line .item.all-result .payment-note {
    display: flex;
    justify-content: space-between;
    color: #87CFA3;
    font-size: 0.625vw;
    font-weight: 600;
}

.calculate-wrapper .card-item .line:first-child .item {
    border-top: none;
}

.calculate-wrapper .card-item .line .item:first-child {
    border-left: none;
}

.calculate-wrapper .card-item .line .item:last-child {
    border-right: none;
}

.calculate-wrapper .card-item .line.last-line .item {
    border-bottom: none;
}

.calculate-wrapper .card-item .line .item .title {
    color: var(--gray);
    font-size: 0.83vw;
    font-weight: 400;
}

.calculate-wrapper .card-item .line .item .value {
    display: flex;
    gap: 0.625vw;
    align-items: center;
    flex-direction: row;
}

.calculate-wrapper .card-item .line .item .value .currency {
    color: var(--green);
    font-size: 1.041vw;
    font-weight: 400;
}

.calculate-wrapper .card-item .line .item .value .numeric {
    color: white;
    font-size: 1.041vw;
    font-weight: 800;
}

.calculate-wrapper .card-item .last-line {
    margin-bottom: 2.7vw;
}

.calculate-wrapper .card-item .btns-wrapper {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.041vw;
}

.calculate-wrapper .card-item .btns-wrapper .btn {
    width: 50%;
}

.calculate-wrapper .card-item .btn {
    margin-top: auto;
    background-color: var(--green);
    border-radius: 40.3125vw;
    padding: 0.83vw 1.25vw;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 0.83vw;
    font-weight: 600;
    text-align: center;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
}

.calculate-wrapper .card-item .btn:hover {
    cursor: pointer;
    color: var(--black);
    background-color: white;
}

.converter-wrapper {
    margin-top: 1.25vw;
    background-color: var(--black);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2.08vw 3.125vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.125vw;
    font-family: 'SF Pro Display', sans-serif;
    color: white;
}

.converter-wrapper .title {
    font-size: 0.83vw;
    font-weight: 600;
    white-space: nowrap;
}

.converter-wrapper .course {
    display: flex;
    gap: 0.625vw;
    font-size: 0.83vw;
    font-weight: 600;
    white-space: nowrap;
}

.converter-wrapper .course .output-currency {
    color: var(--green);
}

.converter-wrapper .converter {
    display: flex;
    gap: 1.25vw;
    flex: 1;
}

.converter-wrapper .converter .input-item {
    width: 50%;
    border-radius: 2.55vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.83vw 1.25vw;
    font-size: 0.83vw;
    font-weight: 500;
    display: flex;
    gap: 0.625vw;
    align-items: center;
    justify-content: space-between;
}

.converter-wrapper .converter .input-item .text-value input {
    all: unset;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.converter-wrapper .converter .input-item .currency-wrapper {
    display: flex;
    gap: 0.625vw;
    color: #8B8B8B;
}

.converter-wrapper .converter .input-item .currency-wrapper .line {
    border-left: 1px solid #8B8B8B;
}

.converter-wrapper .converter .input-item .currency-wrapper .currency-value {
    display: flex;
    align-items: center;
    gap: 0.625vw;
    cursor: pointer;
    position: relative;
}

.converter-wrapper .converter .input-item .currency-wrapper .currency-value .svg {
    width: 0.3125vw;
    height: 0.3125vw;
    border-top: 2px solid var(--gray);
    border-left: 2px solid var(--gray);
    transform: rotate(-135deg);
}

.converter-wrapper .converter .select-wrapper .variables {
    position: absolute;
    bottom: calc(100% + 1.5vw);
    left: 50%;
    transform: translateX(-50%);
    background-color: #0F0F0F;
    overflow-y: auto;
    max-height: 0px;
    transition: all 300ms ease;
    border: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.41vw;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    width: auto;
}

.converter-wrapper .converter .select-wrapper .variables.active {
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-height: 400px;
}

.converter-wrapper .converter .select-wrapper .variables .item {
    text-align: center;
    width: auto;
    padding: 0.83vw 1.25vw;
    transition: all 300ms ease;
}

.converter-wrapper .converter .select-wrapper .variables .item:hover {
    background-color: #10281B;
}

.settings-svg {
    width: 1.56vw;
    display: flex;
    position: fixed;
    right: 2.08vw;
    bottom: 1.04vw;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.settings-svg path {
    fill: var(--green);
    transition: fill 300ms ease;
}

.settings-svg:hover {
    transform: rotate(180deg);
}

.rating-svg {
    width: 2.6vw;
    display: flex;
    position: fixed;
    right: 1.56vw;
    bottom: 3.5vw;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.rating-svg path {
    fill: var(--green);
    transition: fill 300ms ease;
}

.rating-svg:hover {
    transform: rotate(360deg);
}

.seacrch-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.83vw;
    padding: 0.83vw 1.25vw;
    font-weight: 500;
    display: flex;
    gap: 0.625vw;
    align-items: center;
    justify-content: space-between;
}

.seacrch-wrapper .input-state-USA {
    all: unset;
}

.modal-settings {
    display: flex;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    pointer-events: none;
    transition: all 300ms ease;
}

.modal-settings.active {
    opacity: 1;
    pointer-events: all;
}

.modal-settings .fon {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
    background-color: var(--green);
    opacity: 0.3;
}

.modal-settings .main {
    font-family: 'SF Pro Display', sans-serif;
    z-index: 12;
    padding: 3.125vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-settings .main .title {
    color: #FFFFFF;
    font-size: 1.041vw;
    font-weight: 400;
    text-align: center;
}

.modal-settings .main .values-items {
    margin-top: 1.041vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.modal-settings .main .values-items .item {
    display: flex;
    flex-direction: column;
    gap: 0.625vw;
}

.modal-settings .main .values-items .name {
    font-size: 0.83vw;
    font-weight: 500;
    color: var(--gray);
}

.modal-settings .main .values-items .input-wrapper {
    border-radius: 2.55vw;
    padding: 0.83vw 1.25vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.83vw;
}

.modal-settings .main .values-items input {
    all: unset;
    width: 100%;
    color: white;
    font-weight: 400;
}

.modal-settings .main .btn {
    background-color: var(--green);
    border-radius: 40.3125vw;
    padding: 0.83vw 1.25vw;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 0.83vw;
    font-weight: 600;
    text-align: center;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
}

.modal-settings .main .btn:hover {
    cursor: pointer;
    color: var(--black);
    background-color: white;
}

.calc-credit-wrapper {
    display: none;
}

.calc-credit-wrapper .fon {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 11;
    background-color: var(--green);
    opacity: 0.3;
}

.calc-credit-wrapper .main {
    font-family: 'SF Pro Display', sans-serif;
    z-index: 12;
    padding: 3.125vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.calc-credit-wrapper .main .top-elements .title {
    color: #FFFFFF;
    font-size: 1.041vw;
    font-weight: 400;
    text-align: center;
}

.calc-credit-wrapper .main .inputs-container {
    margin-top: 1.25vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.calc-credit-wrapper .main .inputs-container .item {
    display: flex;
    flex-direction: column;
    gap: 0.625vw;
}

.calc-credit-wrapper .main .inputs-container .item .name {
    font-size: 0.83vw;
    font-weight: 500;
    color: var(--gray);
}

.calc-credit-wrapper .main .inputs-container input {
    all: unset;
    border-radius: 2.55vw;
    padding: 0.83vw 1.25vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.83vw;
    font-weight: 400;
    color: white;
}

.calc-credit-wrapper .main .selects-el {
    position: relative;
}

.calc-credit-wrapper .main .selects-el .select-header {
    border-radius: 2.55vw !important;
    padding: 0.83vw 1.25vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.83vw;
    font-weight: 400;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease;
}

.calc-credit-wrapper .main .selects-el .select-header span {
    font-size: 0.83vw;
    font-weight: 400;
    color: white;
}

.calc-credit-wrapper .main .selects-el .select-header:hover, .calc-credit-wrapper .main .selects-el .select-header:focus {
    cursor: pointer;
}

.calc-credit-wrapper .main .selects-el .select-body {
    position: absolute;
    top: calc(100% + 0.729vw);
    left: -1px;
    width: 100%;
    right: 0;
    background-color: #0F0F0F;
    overflow-y: auto;
    max-height: 0px;
    transition: all 300ms ease;
    border: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.41vw;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 99;
}

.calc-credit-wrapper .main .selects-el .select-body.active {
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-height: 400px;
}

.calc-credit-wrapper .main .selects-el .select-body .item {
    width: auto;
    color: white;
    padding: 0.83vw 1.25vw;
    cursor: pointer;
    transition: all 300ms ease;
}

.calc-credit-wrapper .main .selects-el .select-body .item:hover {
    background-color: #10281B;
}

.calc-credit-wrapper .main .errors {
    margin-top: 0.625vw;
    color: red;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 0.8291666667vw;
    font-weight: 400;
}

.calc-credit-wrapper .main .btn-calc {
    margin-top: 2vw;
    background-color: var(--green);
    border-radius: 40.3125vw;
    padding: 0.83vw 1.25vw;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 0.83vw;
    font-weight: 600;
    text-align: center;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
}

.calc-credit-wrapper .main .btn-calc:hover {
    cursor: pointer;
    color: var(--black);
    background-color: white;
}

.calc-credit-wrapper .main .money-result {
    margin-top: 0.625vw;
    background-color: #10281B;
    border-radius: 0.2604166667vw;
    padding: 1.0416666667vw 1.25vw;
    text-align: center;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 0.9375vw;
    width: 100%;
    box-sizing: border-box;
}

.calc-credit-wrapper .main .money-result span {
    font-weight: 600;
}

.calc-credit-wrapper .main .note {
    opacity: 0.5;
    margin-top: 0.625vw;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 0.7291666667vw;
    font-weight: 400;
}

.calc-credit-wrapper .main .note span {
    font-size: 0.625vw;
}
